* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #2b2b2b;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  font-family: "Poppins";
}

.container {
  width: 1500px;
  height: 800px;
}

.pics-container {
  width: 588px;
  height: 329px;
}

.pics__panel {
  margin: 20px 0 30px 0;
  display: flex;
  justify-content: space-around;
}
.pics__panel_img {
  width: 40px;
  height: 40px;
  border-radius: 25px;
}

.posters__panel {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.posters__panel_img {
  width: 150px;
  height: 180px;
}

.content-container {
  display: flex;
}

.content-block {
  width: 100%;
  height: 553px;
  color: white;
}
.content-block__movie-name {
  margin: 20px 20px 20px 30px;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 48px;
}
.content-block__movie-rating_container {
  display: flex;
  gap: 10px;
  margin: 20px 20px 20px 30px;
  align-items: center;
}
.content-block__movie-rating_text {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #8b8b8b;
}
.content-block__movie-rating_number, .content-block__movie-rating_of10 {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  margin-right: -5px;
  cursor: pointer;
}

.movie-essentials__container {
  display: flex;
  justify-content: space-between;
}

.movie-main__content_container {
  display: flex;
}

.movie-main__content_poster {
  margin: 0 20px 0 30px;
  width: 180px;
  height: 230px;
}

.movie__description {
  width: 1040px;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 21px;
}

.movie__genre_container {
  display: flex;
  gap: 4px;
  margin-top: 13px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
}

.movie__genre {
  background-color: #383838;
  padding: 6px 20px 6px 20px;
}

.actors-cast__text {
  margin-top: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #8b8b8b;
}

.movie-cast__container {
  display: flex;
  gap: 10px;
  margin-top: 5px;
}

.movie-actor__container {
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
}

.movie-actor__pic {
  border-radius: 45px;
  width: 60px;
  height: 60px;
}

.similar-movies__text {
  margin: 20px 0 0 30px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.similar-movies__container {
  display: flex;
  gap: 10px;
  margin: 15px 0 0 30px;
}

.similar-movie__pic {
  width: 122px;
  height: 155px;
}

.rate__window {
  visibility: hidden;
  width: 143px;
  height: 163px;
  background: #d9d9d9;
  margin-left: 26px;
  text-align: center;
}
.rate__window_text {
  margin-top: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #8b8b8b;
}
.rate__window_movie-name {
  color: #383838;
  font-size: 14px;
  font-weight: 800;
  margin-top: 5px;
}

.rate__window-visible {
  visibility: visible;
  margin-top: 30px;
}

.rate-input {
  width: 63px;
  height: 24px;
  background: white;
  border-style: none;
  margin-top: 15px;
}

.rate-input::-webkit-input-placeholder {
  text-align: center;
}

.rate-btn {
  width: 63px;
  height: 23px;
  background: black;
  color: white;
  border-style: none;
  cursor: pointer;
  margin-top: 12px;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 15px;
  text-transform: uppercase;
}